body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: linear-gradient(to right, #dede0b, #2fc01f);
    color: rgba(70, 193, 223, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    color: rgb(136, 52, 52);
    text-align: center;
}

#display {
    background-color: rgba(99, 41, 41, 0.8);
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    margin-left: 15px;
    width: 250px;
    text-align: right;
    font-size: 20px;
    color: white;
    grid-column: span 4;
    padding: 15px;
}


#calculator {
    display: grid;
    grid-template-columns: repeat(4, 70px); /* 4 equal columns */
    gap: 10px;
    justify-content: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#btn17 {
    grid-column: span 4; /* Clear spans the whole row */
    background-color: crimson;
}
